<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
     <section name="redisConnection" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  <connectionStrings>
   <add name="brightour" connectionString="Database=brightour;Data Source=192.168.1.45;User Id=sa;Password=sa;" providerName="System.Data.SqlClient" />

 </connectionStrings>
  <appSettings>
     <add key="ChunYun" value="2018-02-01|2018-03-13" />
     <add key="OAToken" value="OAToken" />
     <add key="ServerIP" value="192.168.1.45" />
     <add key="IsServer" value="F" />
     <!--非IOC注入的控制器-->
     <add key="IOCBlackList" value="Customer,Token,TrainCallBack,TrainMakeUp,OrderServer,TraOrder,GetAppVision" />
     <!--验证白名单-->
     <add key="ValidBlackList" value="Customer|*,Token|*,TrainCallBack|*,TrainMakeUp|*,OrderServer|*,TraOrder|*" />
     <add key="ModAuditEmail" value="http://192.168.1.117/flightnet/SureModOrder.aspx?isSecond=F" />
     <add key="FltOrderSecondAuditEmail" value="http://192.168.1.117/flightnet/SureOrder.aspx?isSecond=T" />
     <!--上传文件上限大小-->
     <add key="MaxFileSize" value="1000" />
     <add key="DbContext" value="Mzl.EntityModel.EFContext.BrightourDbContext,Mzl.EntityModel" />
     <add key="UploadFile" value="~//UploadFile//" />
     <!--允许app最低版本号-->
     <add key="AllowAppVision" value="2" />
    <!--按照人名判断是否在白名单内的航司-->
    <add key="WhiteListByName" value="MU,FM" />
    <!--APP推送信息-->
    <add key="Host" value="http://sdk.open.api.igexin.com/apiex.htm" />
    <add key="AppId" value="wnRQxzXD9MAj5gBr9gbTc6" />
    <add key="AppKey" value="BfuDZzlVex9siG8kPHUu85" />
    <add key="AppSecret" value="L22PzxH57BAvq7dQrnKVh2" />
    <add key="MasterSecret" value="Pc4BNbfDlR8dCy4RWwQXp5" />
    <!--APP更新信息-->
   <add key="VisionAndroidUrl" value="http://www.dcloud.io/hellomui/HelloMUI.apk" />
   <add key="VisionIosUrl" value="itms-apps://itunes.apple.com/cn/app/u8%E8%81%94%E7%9B%9F/id891223867?mt=8" />
   <add key="VisionMessage" value="当前版本已过期，请更新app" />
   <!--线上测试帐号Id-->
   <add key="TestCid" value="1000" />
   <!--是否允许火车抢票-->
   <add key="IsAllowTrainGrabTicket" value="F" />
   <!--客户注册后，发送至该邮箱-->
   <add key="ReginsterSendEmail" value="sheny@mojory.cn" />
    <!--艺龙接口 测试环境-->
    <add key="ELONG_BASE_URL_STATIC" value="http://api.test.lohoo.com/" />
    <add key="ELONG_BASE_URL" value="http://api.test.lohoo.com/rest?{0}" />
    <add key="ELONG_BASE_URL_HTTPS" value="https://api.test.lohoo.com/rest?{0}" />
    <add key="ELONG_APIUser" value="Agent1516591176499" />
    <add key="ELONG_APPKEY" value="19eb0bf7dadb834aa72d281af7d62409" />
    <add key="ELONG_SECRETKEY" value="b7d9b5d91f4d9a7c05178e5079f239de" />
    <!--艺龙接口 正式环境-->
    <!--<add key="ELONG_BASE_URL_STATIC" value="http://api2.elong.com/" />
    <add key="ELONG_BASE_URL" value="http://api2.elong.com/rest?{0}" />
    <add key="ELONG_BASE_URL_HTTPS" value="https://api2.elong.com/rest?{0}" />
    <add key="ELONG_APIUser" value="" />
    <add key="ELONG_APPKEY" value="" />
    <add key="ELONG_SECRETKEY" value="" />-->
    <!--不允许使用火车的公司-->
    <add key="NotAllowUserTrain" value="TTL" />
    <!--一件反馈接收邮箱-->
    <add key="AppOptionEmailTo" value="wangxy@mojory.cn" />
  </appSettings>
  <redisConnection host="192.168.1.111" port="6379" password="Mojory1234" />
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="EmailLogAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="RequestInfoLogs/EmailLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <ImmediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <logger name="EmailLog">
      <level value="INFO" />
      <appender-ref ref="EmailLogAppender" />
    </logger>
    <appender name="CallBackAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="RequestInfoLogs/CallBackLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <ImmediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <logger name="CallBack">
      <level value="INFO" />
      <appender-ref ref="CallBackAppender" />
    </logger>
    <appender name="MakeUpAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="RequestInfoLogs/MakeUpLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <ImmediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <logger name="MakeUp">
      <level value="INFO" />
      <appender-ref ref="MakeUpAppender" />
    </logger>
    <appender name="SearchTrainAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="RequestInfoLogs/SearchTrainLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <ImmediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <logger name="SearchTrain">
      <level value="INFO" />
      <appender-ref ref="SearchTrainAppender" />
    </logger>
    <appender name="MojoryExceptionAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="RequestInfoLogs/MojoryException.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <ImmediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <logger name="MojoryException">
      <level value="INFO" />
      <appender-ref ref="MojoryExceptionAppender" />
    </logger>
    <appender name="MojoryApiRequestAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="RequestInfoLogs/MojoryApiRequest.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <ImmediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <logger name="MojoryApiRequest">
      <level value="INFO" />
      <appender-ref ref="MojoryApiRequestAppender" />
    </logger>
    <appender name="RequestAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="RequestInfoLogs/Request.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <ImmediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <logger name="Request">
      <level value="INFO" />
      <appender-ref ref="RequestAppender" />
    </logger>
    <appender name="MojoryApiAddDomesticOrderAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="RequestInfoLogs/MojoryApiAddDomesticOrder.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <ImmediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <logger name="MojoryApiAddDomesticOrder">
      <level value="INFO" />
      <appender-ref ref="MojoryApiAddDomesticOrderAppender" />
    </logger>
    <appender name="XinAGetDataAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="RequestInfoLogs/XinAGetData.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <ImmediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <logger name="XinAGetData">
      <level value="INFO" />
      <appender-ref ref="XinAGetDataAppender" />
    </logger>
    <appender name="MojoryApiLoginAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="RequestInfoLogs/MojoryApiLogin.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <ImmediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <logger name="MojoryApiLogin">
      <level value="INFO" />
      <appender-ref ref="MojoryApiLoginAppender" />
    </logger>
    <appender name="TraGrabTicketCallBackAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="RequestInfoLogs/TraGrabTicketCallBack.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <ImmediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <logger name="TraGrabTicketCallBack">
      <level value="INFO" />
      <appender-ref ref="TraGrabTicketCallBackAppender" />
    </logger>
    <appender name="ElongHotelInterfaceAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="RequestInfoLogs/ElongHotelInterface.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <ImmediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <logger name="ElongHotelInterface">
      <level value="INFO" />
      <appender-ref ref="ElongHotelInterfaceAppender" />
    </logger>
  </log4net>
  <system.web>
    <!--<identity impersonate="true" userName="Uploadfile" password="Mzl123456" />-->
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="2147483647" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SearchFlightSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
        <binding name="SMSSendSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="965536" useDefaultWebProxy="true" />
    </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.117:8088/Flight/SearchFlight.asmx" binding="basicHttpBinding" bindingConfiguration="SearchFlightSoap" contract="IBEService.SearchFlightSoap" name="SearchFlightSoap" />
 <endpoint address="http://192.168.1.117:8088/SMS/SMSSend.asmx" binding="basicHttpBinding" bindingConfiguration="SMSSendSoap" contract="SMSWebService.SMSSendSoap" name="SMSSendSoap" />
  </client>
  </system.serviceModel>
</configuration>
