
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>东航B2T接口正式数据</title>
</head>
<body>
    <div> 
        <a href="/MuB2T/ODFlightSearch">一．中转航班查询接口</a><br />
        <a href="/MuB2T/CaresClient">二．国内直达接口</a><br />
        <a href="/MuB2T/Inter">三．国际直达接口</a><br />
        <a href="/MuB2T/Tax">四．直达税费接口</a>
    </div>
</body>
</html>
